<div class="post-author text-center">                       
	        <img src="http://res.cloudinary.com/edgethoughts/image/fetch/f_auto,q_90,g_face,c_fill,r_max,w_150,h_150/https://pbs.twimg.com/profile_images/788989148/goodme.jpg" alt="{{ site.owner.name }}'s photo" itemprop="image" class="post-avatar img-circle img-responsive"/>    
	    <h4 class="bordered-bottom vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">By <span itemprop="name" class="fn"><a href="{{ site.url }}/about" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a></span></h4>
	    <p>{{ site.owner.description }}</p>
</div>
